<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<table class="table">
  <tr>
    <th style="width:15%">Name</th>
    <th style="width:35%">Username</th>
    <th style="width:25%">Password</th>
    <th style="width:5%"></th>
  </tr>
  <tr *ngFor="let pass of credentials;let i = index">
    <td *ngIf="editing[i]"><input type="text" class="form-control" [(ngModel)]="editCredentials[i].name"></td>
    <td *ngIf="!editing[i]">{{pass.name}}</td>
    <td *ngIf="editing[i]"><input type="text" class="form-control" [(ngModel)]="editCredentials[i].username"></td>
    <td *ngIf="!editing[i]">{{pass.username}}</td>
    <td *ngIf="editing[i]"><input type="text" class="form-control" [(ngModel)]="editCredentials[i].password"></td>
    <td *ngIf="!editing[i]">{{pass.password}}</td>
    <td>
      <!-- Edit/Delete button -->
      <div *ngIf="!editing[i]" class="btn-group inline pull-left">
        <button type="button" class="btn btn-default btn-sm shadow-none" (click)="edit(i)">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm shadow-none" (click)="remove(pass)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <!-- Editing okay/cancel -->
      <div *ngIf="editing[i]" class="btn-group inline pull-left">
          <button type="button" class="btn btn-default btn-sm shadow-none" (click)="saveEdit(i, pass)">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm shadow-none" (click)="cancelEdit(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
    </td>
  </tr>
</table>